body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}
div {
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
span {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    justify-self: center;
    font-size: 120px;
}